/* ===========================
   TABLETS
=========================== */

@media (max-width: 992px) {
  .hero {
    min-height: 110vh;
  }

  .hero h1 {
    font-size: 58px;
  }

  .search-box {
    max-width: 100%;
  }

  .stats {
    flex-wrap: wrap;
  }
}
/* ===========================
   CELULARES
=========================== */

@media (max-width: 768px) {
  .hero {
    min-height: auto;

    padding: 130px 0 80px;
  }

  .hero-content {
    text-align: center;
  }

  .hero h1 {
    font-size: 52px;

    line-height: 1.05;
  }

  .hero p {
    font-size: 20px;
  }

  .badge {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .search-box {
    flex-direction: column;

    border-radius: 25px;

    padding: 10px;

    height: auto;
  }

  .search-box input {
    width: 100%;

    padding: 18px;
  }

  .search-box button {
    width: 100%;

    margin-top: 10px;

    height: 60px;
  }
}
@media (max-width: 768px) {
  .stats {
    display: grid;

    grid-template-columns: 1fr;

    gap: 18px;
  }

  .stat-card {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;

    padding: 25px 0;
  }

  .navbar .btn-login {
    margin-top: 20px;

    width: 100%;
  }
}
